#header img{
    width: 80px;
}
.platzi-text{
    color:#97c93e !important;
}
.btn-platzi{
    background-color:#97c93e;
    color: white;
}
.btn-platzi:hover{
    background-color: #82ad36;
}
#Main img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);

}
#carousel{
    position: relative;
}
#carousel .overlay{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0,0, 0.5);
    color: white;
}
#carousel .overlay .container,
#carousel .overlay .row
{
    height: 100%;
}
#footer{
    background-color: #1c3643;
    text-align:center;
}
#footer a{
    color:white;
}